<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HakOne"
        tools:targetApi="31">
        <activity
            android:name=".Home"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.example.hakone.MyInterest"></activity>
        <activity android:name="com.example.hakone.MyPage"></activity>
        <activity android:name="com.example.hakone.ChangeProfile"></activity>
        <activity android:name="com.example.hakone.MyReview"></activity>
        <activity android:name="com.example.hakone.HakOneItem"></activity>
        <activity android:name="com.example.hakone.ReviewList"></activity>
        <activity android:name="com.example.hakone.WriteReview"></activity>


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="msuzzar6hb" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>